body {
    background-color: #2e3330;
    font-family: Arial, sans-serif;
    color: aquamarine;
}

#header {
    text-align: center;
    margin: 0 auto;
}

#content {
    margin: 0 auto;
}

#tables, #config {
    display: flex;
}

#categories, #grid_size {
    margin: 10px;
}

.player {
    text-align: center;
    padding: 10px;
}

.aboveCards {
    margin: 0 auto;
    font-size: xx-large;
}

img {
    height: 32px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    color: #0f0f0f;
    font-weight: bold;
    width: 120px;
    height: 120px;
}

th {
    background-color: #2f2f2f;
}

td:hover {
    background-color: var(--cell-hover-color) !important;
}

button {
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0.3em;
    border: none;
    background-color: aquamarine;
    cursor: pointer;
    color: #0f0f0f;
}

#error {
    color: red;
    text-align: center;
    font-size: 2em;
}

.sprite {
    position: relative;
}

.custom-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.sprite:hover .custom-tooltip {
    visibility: visible;
}
