:root {
    --p1bgcolor: #7799FF;
    --p2bgcolor: pink;
    --p1bgcolorhover: #5a7acc;
    --p2bgcolorhover: #eeb0b9;
}

body {
    background-color: #2e3330;
    font-family: Arial, sans-serif;
    color: aquamarine;
}

#header {
    text-align: center;
    margin: 0 auto;
}

#content {
    margin: 0 auto;
}

#tables, #config {
    display: flex;
}

#categories, #grid_size {
    margin: 10px;
}

.player {
    text-align: center;
    padding: 10px;
}

.aboveCards {
    margin: 0 auto;
    font-size: xx-large;
}

img {
    height: 96px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    color: #0f0f0f;
    font-weight: bold;
    width: 120px;
    height: 120px;
    background-color: #2f2f2f;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    color: #0f0f0f;
    font-weight: bold;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: visible;
}

button {
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0.3em;
    border: none;
    background-color: aquamarine;
    cursor: pointer;
    color: #0f0f0f;
}

#error {
    color: red;
    text-align: center;
    font-size: 2em;
}

.sprite {
    position: relative;
    overflow: visible;
}

.custom-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: visible;
}

.sprite:hover .custom-tooltip {
    visibility: visible;
    overflow: visible;
}

.no-player {
    background-color: white;
}

.player1 {
    background-color: var(--p1bgcolor);
}

.player2 {
    background-color: var(--p2bgcolor);
}

.both-players::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, var(--p1bgcolor) 0%, var(--p1bgcolor) 50%, var(--p2bgcolor) 50%, var(--p2bgcolor) 100%);
    z-index: -1;
}

.bingo-cell:hover.no-player {
    background-color: #e0e0e0; /* Slightly darker than white */
}

.bingo-cell:hover.player1 {
    background-color: var(--p1bgcolorhover); /* Slightly darker than var(--p1bgcolor) */
}

.bingo-cell:hover.player2 {
    background-color: var(--p2bgcolorhover); /* Slightly darker than pink */
}

.bingo-cell:hover.both-players::before {
    background: linear-gradient(to bottom right, var(--p1bgcolorhover) 0%, var(--p1bgcolorhover) 50%, var(--p2bgcolorhover) 50%, var(--p2bgcolorhover) 100%); /* Slightly darker gradient */
}

@keyframes lineComplete {
    0% { background-color: yellow; }
    50% { background-color: red; }
    100% { background-color: yellow; }
}

.line-complete {
    animation: lineComplete 1s ease-in-out;
}